// @import './base.scss';
@import './typography.scss';

.first-fold {
  .announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 10px 0;
  img {
    margin-right: 5px;
  }
  }
}